$secondary-button-color:#ebcaeb;
$background-color:#f6ebf6;
$primary-color:#3c203c;
$crimson: crimson;
$white:#fff;
$black:#000;
$black-secondary:#111;
$secondary-background-color:#575757;
$light-gray:lightgray
